@import 'mixins';
@import 'variables';

$primary: #4746a8;
$secondary: #77a2ff;
$tertiary: #7878f0;
$success: #04aa5e;
$warning: #ffbf00;
$info: #008cff;
$error: #ff334d;
$errorLight: #ff6e7c;
$black: #1f1f1f;
$white: #ffffff;
$neutral: #f3f7ff;
$gray: #6a757d;

$fontColor: $secondary;
$bgBody: $neutral;

@include key-value-color('color', 'color');
@include key-value-color('bg', 'background-color');
@include key-value-color('border', 'border-color');
